.App {
  text-align: center;
}
.v-container {
  position: relative;
  top: 100px;
}
.v-container video {
  position: relative;
  display: block;
  height: 500px;
  width: 500px;
  z-index: 0;
}
.v-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}
.v-price-one {
  position: absolute;
  text-align: center;
  font-size:2vw;
  top: 200px;
  left: 300px 
}
.v-price-two {
  position: absolute;
  text-align: center;
  font-size:2vw;
  top: 295px;
  left: 300px
}

