body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #33424F;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  justify-content: center;
  position: relative;
  top: 100px;
}

.i-btn {
  padding-top: 20px;
  padding-bottom: 20px;
}
